Annotations.cs
AssemblyInfo.cs
Regular.sln.DotSettings
.vs
obj
/Regular/bin/x64/Rvt2016/en-US
/Regular/bin/x64/Rvt2016/en-US
/Regular/bin/x64/Rvt2016/UtilityAPI.dll
/Regular/bin/x64/Rvt2016/UIFrameworkServices.dll
/Regular/bin/x64/Rvt2016/UIFramework.dll
/Regular/bin/x64/Rvt2016/System.ValueTuple.xml
/Regular/bin/x64/Rvt2016/System.ValueTuple.dll
/Regular/bin/x64/Rvt2016/StructuralDBAPI.dll
/Regular/bin/x64/Rvt2016/StructuralAnalysisDBAPI.dll
/Regular/bin/x64/Rvt2016/StairRampDBAPI.dll
/Regular/bin/x64/Rvt2016/SiteDBAPI.dll
/Regular/bin/x64/Rvt2016/SculptingDBAPI.dll
/Regular/bin/x64/Rvt2016/RoomAreaPlanDBAPI.dll
/Regular/bin/x64/Rvt2016/RevitUIAPI.dll
/Regular/bin/x64/Rvt2016/RevitDBAPI.dll
/Regular/bin/x64/Rvt2016/RevitAPIUI.xml
/Regular/bin/x64/Rvt2016/RevitAPIUI.dll
/Regular/bin/x64/Rvt2016/RevitAPIFoundation.dll
/Regular/bin/x64/Rvt2016/RevitAPI.xml
/Regular/bin/x64/Rvt2016/RevitAPI.dll
/Regular/bin/x64/Rvt2016/RevitAddInUtility.dll
/Regular/bin/x64/Rvt2016/Regular.pdb
/Regular/bin/x64/Rvt2016/Regular.dll
/Regular/bin/x64/Rvt2016/RebarDBAPI.dll
/Regular/bin/x64/Rvt2016/PointCloudAccessAPI.dll
/Regular/bin/x64/Rvt2016/NumberingDBAPI.dll
/Regular/bin/x64/Rvt2016/MassingDBAPI.dll
/Regular/bin/x64/Rvt2016/ManagedMC3.dll
/Regular/bin/x64/Rvt2016/InterfaceUtilAPI.dll
/Regular/bin/x64/Rvt2016/InterfaceAPI.dll
/Regular/bin/x64/Rvt2016/HostObjDBAPI.dll
/Regular/bin/x64/Rvt2016/GraphicsAPI.dll
/Regular/bin/x64/Rvt2016/GeomUtilAPI.dll
/Regular/bin/x64/Rvt2016/FamilyDBAPI.dll
/Regular/bin/x64/Rvt2016/EssentialsDBAPI.dll
/Regular/bin/x64/Rvt2016/EnergyAnalysisDBAPI.dll
/Regular/bin/x64/Rvt2016/ElementGroupDBAPI.dll
/Regular/bin/x64/Rvt2016/DPartDBAPI.dll
/Regular/bin/x64/Rvt2016/DetailDBAPI.dll
/Regular/bin/x64/Rvt2016/DBManagedServices.dll
/Regular/bin/x64/Rvt2016/CurtainGridFamilyDBAPI.dll
/Regular/bin/x64/Rvt2016/BuildingSystemsUIAPI.dll
/Regular/bin/x64/Rvt2016/BuildingSystemsDBAPI.dll
/Regular/bin/x64/Rvt2016/AssemblyDBAPI.dll
/Regular/bin/x64/Rvt2016/ArrayElemsDBAPI.dll
/Regular/bin/x64/Rvt2016/APIInterop.dll
/Regular/bin/x64/Rvt2016/APIDBAPI.dll
/Regular/bin/x64/Rvt2016/AnalysisAppsDBAPI.dll
/Regular/bin/x64/Rvt2016/AdWindows.dll
/Regular/bin/x64/Rvt2016/AddInManager.dll
/Regular/bin/x64/Rvt2016
/packages/System.ValueTuple.4.4.0
